# Don't forget about me, .htaccess!

RewriteEngine On
DirectorySlash Off
Options -Indexes

# Rewrite rule base
RewriteBase /

# Default page
RewriteRule ^/?$ index

# Specify pages here
RewriteRule ^(index)$ index.php?page=$1

# Specify ajax scripts here
RewriteRule ^ajax/()$ ajax/$1.php

# Deny access to anything we don't like
RewriteRule !^/?(index\.php|ajax/.*\.php|assets/.*\.(png|jpg|gif|svg|woff|ttf|eot)|css/.*\.css|js/.*\.js)$ - [R=404,L]

