# Don't forget about me, .htaccess!

RewriteEngine On
DirectorySlash Off

# Rewrite rule base
RewriteBase /

# Default page
RewriteRule ^/?$ index

# Other rewrite rules
RewriteRule ^index$ index.php?page=index

# Deny access to anything we don't like
RewriteRule !^/?(index.php|(ajax|assets|css|js)(/|$)) - [F,L]

